<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-wallet-multi-input (walletChange)="onWalletInputChange($any($event))" (transactionResult)="handleTransactionResult($event)"></app-wallet-multi-input>

     <fieldset>
          <legend style="color: white">Transaction Information</legend>

          <div class="transaction-layout">
               <div class="left-column">
                    <div class="flags-layout">
                         <table id="flags">
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="Name of the currently selected account.">
                                             <label for="accountName1Field">Name</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="accountName1Field" [(ngModel)]="account1.name" name="accountName1Field" />
                                        <input type="radio" id="account1" name="accounts" value="account1" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="account1">Account 1</label>
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="Address of the currently selected account.">
                                             <label for="accountAddress1Field">Address</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="accountAddress1Field" [(ngModel)]="account1.address" name="accountAddress1Field" />
                                        <input type="radio" id="account2" name="accounts" value="account2" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="account2">Account 2</label>
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="Seed of the currently selected account.">
                                             <label for="accountSeed1Field">Seed</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="accountSeed1Field" [(ngModel)]="account1.seed" name="accountSeed1Field" />
                                        <input type="radio" id="accountIssuer" name="accounts" value="accountIssuer" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="accountIssuer">Account 3</label>
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                                             <label for="xrpBalance1Field">Spendable XRP Balance</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="xrpBalance1Field" [(ngModel)]="account1.balance" readonly name="xrpBalance1Field" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                                             <label for="ownerCountField">Owner Count</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="ownerCountField" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                                             <label for="totalXrpReservesField">Total XRP Reserves</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="totalXrpReservesField" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="Total number of XRP reserves. This includes the base reserve and any account objects that require a reserve.">
                                             <label for="totalExecutionTime">Total Execution Time in ms</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="totalExecutionTime" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                                   </td>
                              </tr>
                         </table>

                         <table id="flags">
                              <tr>
                                   <td>
                                        <label for="amountField">XRP Amount</label>
                                   </td>
                                   <td>
                                        <input type="text" id="amountField" [(ngModel)]="amountField" name="amountField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="destinationFields">Destination</label>
                                   </td>
                                   <td>
                                        <select class="timeUnit" id="destinationFields" [(ngModel)]="destinationFields" name="destinationFields">
                                             <option *ngFor="let dest of destinations" [value]="dest">{{dest}}</option>
                                        </select>
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="destinationTagField">Destination Tag</label>
                                   </td>
                                   <td>
                                        <input type="text" id="destinationTagField" [(ngModel)]="destinationTagField" name="destinationTagField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="sourceTagField">Source Tag</label>
                                   </td>
                                   <td>
                                        <input type="text" id="sourceTagField" [(ngModel)]="sourceTagField" name="sourceTagField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="invoiceIdField">Invoice Id</label>
                                   </td>
                                   <td>
                                        <input type="text" id="invoiceIdField" [(ngModel)]="invoiceIdField" name="invoiceIdField" />
                                   </td>
                              </tr>
                         </table>
                    </div>

                    <div class="spinner-container">
                         <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
                         <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || 'Loading...' }}</div>
                    </div>

                    <div class="button-container">
                         <table style="text-align: left; width: 100%">
                              <th></th>
                              <tr style="vertical-align: top">
                                   <td colspan="2">
                                        <button type="button" (click)="sendXrp()">Send XRP</button>
                                        <button type="button" (click)="clearFields()">Clear Fields</button>
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td colspan="2">
                                        <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                                   </td>
                              </tr>
                              <details class="send-xrp-info">
                                   <summary>Send XRP Info</summary>
                                   <fieldset class="send-xrp-fieldset">
                                        <details class="send-xrp-subdetails">
                                             <summary>Send XRP Constraints</summary>
                                             <div class="send-xrp-table">
                                                  <div class="send-xrp-row send-xrp-header">
                                                       <div class="send-xrp-cell">Send XRP Constraints</div>
                                                       <div class="send-xrp-cell">Description</div>
                                                  </div>
                                                  <div class="send-xrp-row">
                                                       <div class="send-xrp-cell"><code>DestinationTag</code></div>
                                                       <div class="send-xrp-cell">A tag to help the destination account identify the purpose of the payment (common for exchanges or multi-user wallets).</div>
                                                  </div>
                                                  <div class="send-xrp-row">
                                                       <div class="send-xrp-cell"><code>InvoiceID</code></div>
                                                       <div class="send-xrp-cell">Arbitrary 256-bit identifier for identifying this payment (e.g. to match a payment to an invoice).</div>
                                                  </div>
                                                  <div class="send-xrp-row">
                                                       <div class="send-xrp-cell"><code>Memo</code></div>
                                                       <div class="send-xrp-cell">Add useful, or additional, inforation about the payment.</div>
                                                  </div>
                                                  <div class="send-xrp-row">
                                                       <div class="send-xrp-cell"><code>LastLedgerSequence</code></div>
                                                       <div class="send-xrp-cell">The last ledger in which the transaction can be validated. Prevents the transaction from being stuck indefinitely.</div>
                                                  </div>
                                                  <div class="send-xrp-row">
                                                       <div class="send-xrp-cell"><code>Sequence</code></div>
                                                       <div class="send-xrp-cell">Required unless using `TicketSequence`. This will be used in autofill</div>
                                                  </div>
                                                  <div class="send-xrp-row">
                                                       <div class="send-xrp-cell"><code>TicketSequence</code></div>
                                                       <div class="send-xrp-cell">Optional if using a [Ticket](https://xrpl.org/tickets.html) instead of a direct `Sequence`.</div>
                                                  </div>
                                             </div>
                                        </details>
                                   </fieldset>
                              </details>
                         </table>
                    </div>
               </div>

               <div class="right-column">
                    <table id="meta">
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Add memo to transaction.">
                                        <label>Memo</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMemoEnabled" [(ngModel)]="isMemoEnabled" name="isMemoEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMemoEnabled"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isMemoEnabled">
                              <td>
                                   <label for="memoField"></label>
                              </td>
                              <td>
                                   <textarea class="memoField" style="width: 300px; height: 100px" id="memoField" placeholder="Add optional memo to transaction." [(ngModel)]="memoField" name="memoField"></textarea>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <label>Use Multi-Sign Address</label>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMultiSignAddressData" [(ngModel)]="isMultiSign" (ngModelChange)="toggleMultiSign()" name="isMultiSignAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMultiSignAddressData"></label>
                              </td>
                         </tr>
                         <tr *ngIf="isMultiSign">
                              <td></td>
                              <td>
                                   <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; width: fit-content">
                                        <tr class="multisignAddressClass" *ngIf="isMultiSign">
                                             <td>
                                                  <label for="multiSignAddress">Signer Addresses</label>
                                             </td>
                                             <td>
                                                  <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignAddress" placeholder="Comma-separated list of signer addresses" [(ngModel)]="multiSignAddress" name="multiSignAddress" readonly></textarea>
                                             </td>
                                        </tr>
                                        <tr class="multisignAddressClass" *ngIf="isMultiSign">
                                             <td>
                                                  <label for="multiSignSeeds">Signer Seeds</label>
                                             </td>
                                             <td>
                                                  <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignSeeds" placeholder="Comma-separated list of signer seeds" [(ngModel)]="multiSignSeeds" name="multiSignSeeds" readonly></textarea>
                                             </td>
                                        </tr>
                                        <tr class="multisignAddressClass" *ngIf="isMultiSign">
                                             <td>
                                                  <label for="quorum">Signer Quorum:</label>
                                             </td>
                                             <td>
                                                  <input type="text" id="signerQuorumField" style="width: 50px; height: 28px" [(ngModel)]="signerQuorum" (ngModelChange)="validateQuorum()" name="signerQuorumField" readonly />
                                             </td>
                                        </tr>
                                   </fieldset>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <label>Use Regular Key</label>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isRegularKeyAddressData" [(ngModel)]="isRegularKeyAddress" (ngModelChange)="toggleMultiSign()" name="isRegularKeyAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isRegularKeyAddressData"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isRegularKeyAddress">
                              <td>
                                   <label for="regularKeyAddress"></label>
                              </td>
                              <td>
                                   <input type="text" id="regularKeyAddress" size="41" id="regularKeyAddress" placeholder="Enter Regular Key Address" [(ngModel)]="regularKeyAddress" name="regularKeyAddress" readonly />
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isRegularKeyAddress">
                              <td>
                                   <label for="regularKeySeed"></label>
                              </td>
                              <td>
                                   <input type="text" id="regularKeySeed" size="41" id="regularKeySeed" placeholder="Enter Regular Key Seed" [(ngModel)]="regularKeySeed" name="regularKeySeed" readonly />
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <label>Use Ticket Sequence</label>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isTicketEnabled" [(ngModel)]="isTicket" (ngModelChange)="toggleTicketSequence()" name="isTicketEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isTicketEnabled"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isTicket">
                              <td>
                                   <label for="ticketSequence"></label>
                              </td>
                              <td>
                                   <input type="text" id="ticketSequence" size="41" id="ticketSequence" placeholder="Enter Ticket Sequence" [(ngModel)]="ticketSequence" name="ticketSequence" />
                              </td>
                         </tr>
                    </table>
               </div>
          </div>
     </fieldset>
</form>
