<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-wallet-input (walletChange)="onWalletInputChange($any($event))" (transactionResult)="handleTransactionResult($event)"></app-wallet-input>

     <fieldset>
          <legend style="color: white">Transaction Information</legend>

          <div class="transaction-layout">
               <div class="left-column">
                    <div class="flags-layout">
                         <table id="flags">
                              <tr>
                                   <td>
                                        <label for="accountName1Field">Name</label>
                                   </td>
                                   <td>
                                        <input type="text" id="accountName1Field" [(ngModel)]="account1.name" name="accountName1Field" />
                                        <input type="radio" id="account1" name="accounts" value="account1" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="account1">Sender</label>
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="accountAddress1Field">Address</label>
                                   </td>
                                   <td>
                                        <input type="text" id="accountAddress1Field" [(ngModel)]="account1.address" name="accountAddress1Field" />
                                        <input type="radio" id="account2" name="accounts" value="account2" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="account2">Receiver</label>
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="accountSeed1Field">Seed</label>
                                   </td>
                                   <td>
                                        <input type="text" id="accountSeed1Field" [(ngModel)]="account1.seed" name="accountSeed1Field" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="xrpBalance1Field">Spendable XRP Balance</label>
                                   </td>
                                   <td>
                                        <input type="text" id="xrpBalance1Field" [(ngModel)]="account1.balance" readonly name="xrpBalance1Field" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="ownerCountField">Owner Count</label>
                                   </td>
                                   <td>
                                        <input type="text" id="ownerCountField" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="totalXrpReservesField">Total XRP Reserves</label>
                                   </td>
                                   <td>
                                        <input type="text" id="totalXrpReservesField" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="totalExecutionTime">Total Execution Time in ms</label>
                                   </td>
                                   <td>
                                        <input type="text" id="totalExecutionTime" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                                   </td>
                              </tr>
                         </table>

                         <table id="flags">
                              <tr>
                                   <td>
                                        <label for="amountField">XRP Amount</label>
                                   </td>
                                   <td>
                                        <input type="text" id="amountField" [(ngModel)]="amountField" name="amountField" placeholder="Amount in XRP" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="destinationField">Destination</label>
                                   </td>
                                   <td>
                                        <input type="text" id="destinationField" [(ngModel)]="destinationField" name="destinationField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="destinationTagField">Destination Tag</label>
                                   </td>
                                   <td>
                                        <input type="text" id="destinationTagField" [(ngModel)]="destinationTagField" name="destinationTagField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="channelIDField">Channel ID</label>
                                   </td>
                                   <td>
                                        <input type="text" id="channelIDField" [(ngModel)]="channelIDField" name="channelIDField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="publicKeyField">Sender Public Key</label>
                                   </td>
                                   <td>
                                        <input type="text" id="publicKeyField" [(ngModel)]="publicKeyField" name="publicKeyField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        <label for="channelClaimSignatureField">Claim Signature</label>
                                   </td>
                                   <td>
                                        <input type="text" id="channelClaimSignatureField" [(ngModel)]="channelClaimSignatureField" name="channelClaimSignatureField" />
                                   </td>
                              </tr>
                              <tr>
                                   <td style="text-align: right; padding-top: 14px">
                                        <label>Action</label>
                                   </td>
                                   <td>
                                        <div class="action-slider">
                                             <div class="slider-container">
                                                  <div class="slider-track">
                                                       <div class="slider-selection" [style.width]="getSelectionWidth()" [style.left]="getSelectionLeft()"></div>
                                                       <div class="slider-option" *ngFor="let action of actions; let i = index" [class.selected]="channelAction === action.value" (click)="selectAction(action.value)">{{ action.label }}</div>
                                                  </div>
                                             </div>
                                        </div>
                                   </td>
                              </tr>
                         </table>
                    </div>

                    <div class="spinner-container">
                         <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
                         <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || 'Loading...' }}</div>
                    </div>

                    <div class="button-container">
                         <table style="text-align: left; width: 100%">
                              <th></th>
                              <tr>
                                   <td colspan="2">
                                        <button type="button" (click)="getPaymentChannels()">Get Payment Channels</button>
                                        <button type="button" (click)="handlePaymentChannelAction()">Execute Payment Channel Action</button>
                                        <button type="button" (click)="generateCreatorClaimSignature()">Generate Claim Signature</button>
                                        <button type="button" (click)="clearFields(true)">Clear Fields</button>
                                   </td>
                              </tr>
                              <tr>
                                   <td colspan="2">
                                        <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                                   </td>
                              </tr>
                         </table>

                         <details class="paymentChannel-info">
                              <summary>Payment Channel Info</summary>
                              <fieldset class="paymentChannel-fieldset">
                                   <details class="paymentChannel-subdetails">
                                        <summary>Payment Channel Constraints</summary>
                                        <div class="paymentChannel-table">
                                             <div class="paymentChannel-row paymentChannel-header">
                                                  <div class="paymentChannel-cell">Payment Channel Constraints</div>
                                                  <div class="paymentChannel-cell">Description</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Channel Creator Locks Funds</div>
                                                  <div class="paymentChannel-cell">The sender (creator) funds the channel upfront with an Amount of XRP that is locked until claimed or returned.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">One Receiver Only</div>
                                                  <div class="paymentChannel-cell">Each channel has a fixed `Destination` (receiver). Only they can claim funds from it.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Receiver Must Submit Claims</div>
                                                  <div class="paymentChannel-cell">The receiver presents **signed claims** from the sender to receive funds using `PaymentChannelClaim`</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Only the Receiver Can Claim XRP</div>
                                                  <div class="paymentChannel-cell">Only the `Destination` account may redeem claims — sender cannot reclaim incrementally.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Claims Must Be Signed By Sender</div>
                                                  <div class="paymentChannel-cell">Claims must include a **valid signature from the sender** of the channel (proof of authorization).</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Claims Must Increase</div>
                                                  <div class="paymentChannel-cell">Each claim must specify an `amount` that is **greater than any previous** claimed amount — no partial duplicate claims.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Channel Expires (Optionally)</div>
                                                  <div class="paymentChannel-cell">`CancelAfter` can be set. After that time, the sender can **close the channel** if there are unclaimed funds.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Close After Expiry or Fully Claimed</div>
                                                  <div class="paymentChannel-cell">The sender or receiver can **close the channel** (via `PaymentChannelClaim` with `close=true`) once it's **expired or depleted</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Renewable Before Expiry</div>
                                                  <div class="paymentChannel-cell">If `CancelAfter` hasn't passed, the sender can top up the channel with `PaymentChannelFund` and extend its lifespan (with `Expiration`).</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Signature Must Be Exact Format</div>
                                                  <div class="paymentChannel-cell">The claim's signature must use the expected format with correct message digest structure (e.g., `channel_id`, `amount`, and canonical signature).</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Amount in Claims is Cumulative</div>
                                                  <div class="paymentChannel-cell">The `amount` in a claim is the **total authorized amount to date** — not an incremental delta.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">No IOUs, XRP only</div>
                                                  <div class="paymentChannel-cell">Payment Channels work with **XRP only** — not with issued tokens (IOUs).</div>
                                             </div>
                                        </div>
                                   </details>
                                   <details class="paymentChannel-subdetails">
                                        <summary>PaymentChannelCreate</summary>
                                        <div class="paymentChannel-table">
                                             <div class="paymentChannel-row paymentChannel-header">
                                                  <div class="paymentChannel-cell">PaymentChannelCreate</div>
                                                  <div class="paymentChannel-cell">Purpose</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">XRP Amount <code>Amount</code></div>
                                                  <div class="paymentChannel-cell">Initial XRP locked in the channel.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Settle Delay <code>SettleDelay</code></div>
                                                  <div class="paymentChannel-cell">Minimum time (in seconds) before channel can close.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>CancelAfter</code></div>
                                                  <div class="paymentChannel-cell">Absolute expiration time (in ledger close time)</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>`Fee`, `Memos`, `Destination Tag`, etc.</code></div>
                                                  <div class="paymentChannel-cell">Standard optional fields.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>Sequence</code></div>
                                                  <div class="paymentChannel-cell">Required unless using `TicketSequence`. This will be used in autofill</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>TicketSequence</code></div>
                                                  <div class="paymentChannel-cell">Optional if using a [Ticket](https://xrpl.org/tickets.html) instead of a direct `Sequence`.</div>
                                             </div>
                                        </div>
                                   </details>
                                   <details class="paymentChannel-subdetails">
                                        <summary>PaymentChannelFund</summary>
                                        <div class="paymentChannel-table">
                                             <div class="paymentChannel-row paymentChannel-header">
                                                  <div class="paymentChannel-cell">PaymentChannelFund</div>
                                                  <div class="paymentChannel-cell">Purpose</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">XRP Amount <code>Amount</code></div>
                                                  <div class="paymentChannel-cell">Additional XRP to add to the channel. Required if extending expiration or adding funds.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Settle Delay <code>Expiration</code></div>
                                                  <div class="paymentChannel-cell">Sets/updates expiration timestamp (in ledger time) — must be ≥ current `CancelAfter`, if already set.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>`Fee`, `Memos`, `Destination Tag`, etc.</code></div>
                                                  <div class="paymentChannel-cell">Standard optional fields.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>Sequence</code></div>
                                                  <div class="paymentChannel-cell">Required unless using `TicketSequence`. This will be used in autofill</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>TicketSequence</code></div>
                                                  <div class="paymentChannel-cell">Optional if using a [Ticket](https://xrpl.org/tickets.html) instead of a direct `Sequence`.</div>
                                             </div>
                                        </div>
                                   </details>

                                   <details class="paymentChannel-subdetails">
                                        <summary>PaymentChannelClaim</summary>
                                        <div class="paymentChannel-table">
                                             <div class="paymentChannel-row paymentChannel-header">
                                                  <div class="paymentChannel-cell">PaymentChannelClaim</div>
                                                  <div class="paymentChannel-cell">Purpose</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">XRP Amount <code>Amount</code></div>
                                                  <div class="paymentChannel-cell">The total amount of XRP, in drops, that the receiver is authorized to claim so far. This value must be greater than any previous claim.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">Signature</div>
                                                  <div class="paymentChannel-cell">A valid signature from the channel sender authorizing the claim.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell">PublicKey</div>
                                                  <div class="paymentChannel-cell">The public key that corresponds to the sender’s account and was used to sign the claim.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>`Fee`, `Memos`, `Destination Tag`, etc.</code></div>
                                                  <div class="paymentChannel-cell">Standard optional fields.</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>Sequence</code></div>
                                                  <div class="paymentChannel-cell">Required unless using `TicketSequence`. This will be used in autofill</div>
                                             </div>
                                             <div class="paymentChannel-row">
                                                  <div class="paymentChannel-cell"><code>TicketSequence</code></div>
                                                  <div class="paymentChannel-cell">Optional if using a [Ticket](https://xrpl.org/tickets.html) instead of a direct `Sequence`.</div>
                                             </div>
                                        </div>
                                   </details>
                              </fieldset>
                         </details>
                    </div>
               </div>

               <div class="right-column">
                    <table id="meta">
                         <tr>
                              <td>
                                   <label for="settleDelayField">Settle Delay</label>
                              </td>
                              <td>
                                   <input type="text" id="settleDelayField" style="width: 120px" placeholder="Time in seconds" [(ngModel)]="settleDelayField" name="settleDelayField" />
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <label for="paymentChannelCancelAfterTimeField">Cancel After Time</label>
                              </td>
                              <td>
                                   <input type="text" id="paymentChannelCancelAfterTimeField" style="width: 120px" placeholder="Enter time" [(ngModel)]="paymentChannelCancelAfterTimeField" name="paymentChannelCancelAfterTimeField" />
                                   <select class="timeUnit" style="width: 120px" id="paymentChannelCancelAfterTimeUnit" [(ngModel)]="paymentChannelCancelAfterTimeUnit" name="paymentChannelCancelAfterTimeUnit">
                                        <option value="seconds">Seconds</option>
                                        <option value="minutes">Minutes</option>
                                        <option value="hours">Hours</option>
                                        <option value="days">Days</option>
                                   </select>
                              </td>
                         </tr>
                         <!-- <tr>
                              <td>
                                   <label for="renewChannel">Renew Channel</label>
                              </td>
                              <td>
                                   <label class="switch">
                                        <input type="checkbox" id="renewChannel" [(ngModel)]="renewChannel" (ngModelChange)="toggleTicketSequence()" name="renewChannel" />
                                        <span class="slider round"></span>
                                   </label>
                              </td>
                         </tr> -->
                         <tr>
                              <td>
                                   <label>Memo</label>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMemoEnabled" [(ngModel)]="isMemoEnabled" name="isMemoEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMemoEnabled"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isMemoEnabled">
                              <td>
                                   <label for="memoField"></label>
                              </td>
                              <td>
                                   <textarea class="memoField" style="width: 300px; height: 100px" id="memoField" placeholder="Add optional memo to transaction." [(ngModel)]="memoField" name="memoField"></textarea>
                              </td>
                         </tr>
                         <tr>
                              <td></td>
                              <td *ngIf="masterKeyDisabled">
                                   <label style="color: red">Master Key is disabled. Use multi-sign or regular key to sign transactions.</label>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to update add Multi-Sign Address">
                                        <label [ngStyle]="{'color': multiSigningEnabled ? '#4CAF50' : 'white'}">Use Multi-Sign Address</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMultiSignAddressData" [(ngModel)]="useMultiSign" (ngModelChange)="toggleMultiSign()" name="isMultiSignAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMultiSignAddressData"></label>
                              </td>
                         </tr>
                         <tr *ngIf="useMultiSign">
                              <td></td>
                              <td>
                                   <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; width: fit-content">
                                        <tr class="multisignAddressClass" *ngIf="useMultiSign">
                                             <td>
                                                  <label for="multiSignAddress">Signer Addresses</label>
                                             </td>
                                             <td>
                                                  <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignAddress" placeholder="Comma-separated list of signer addresses" [(ngModel)]="multiSignAddress" name="multiSignAddress" readonly></textarea>
                                             </td>
                                        </tr>
                                        <tr class="multisignAddressClass" *ngIf="useMultiSign">
                                             <td>
                                                  <label for="multiSignSeeds">Signer Seeds</label>
                                             </td>
                                             <td>
                                                  <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignSeeds" placeholder="Comma-separated list of signer seeds" [(ngModel)]="multiSignSeeds" name="multiSignSeeds" readonly></textarea>
                                             </td>
                                        </tr>
                                        <tr class="multisignAddressClass" *ngIf="useMultiSign">
                                             <td>
                                                  <label for="quorum">Signer Quorum:</label>
                                             </td>
                                             <td>
                                                  <input type="text" id="signerQuorumField" style="width: 50px; height: 28px" [(ngModel)]="signerQuorum" (ngModelChange)="validateQuorum()" name="signerQuorumField" readonly />
                                             </td>
                                        </tr>
                                   </fieldset>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to use Regular Key Address">
                                        <label [ngStyle]="{'color': regularKeySigningEnabled ? '#4CAF50' : 'white'}">Use Regular Key</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isRegularKeyAddressData" [(ngModel)]="isRegularKeyAddress" (ngModelChange)="toggleMultiSign()" name="isRegularKeyAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isRegularKeyAddressData"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isRegularKeyAddress">
                              <td>
                                   <label for="regularKeyAddress"></label>
                              </td>
                              <td>
                                   <input type="text" id="regularKeyAddress" size="40" id="regularKeyAddress" placeholder="Enter Regular Key Address" [(ngModel)]="regularKeyAddress" name="regularKeyAddress" readonly />
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isRegularKeyAddress">
                              <td>
                                   <label for="regularKeySeed"></label>
                              </td>
                              <td>
                                   <input type="text" id="regularKeySeed" size="40" id="regularKeySeed" placeholder="Enter Regular Key Seed" [(ngModel)]="regularKeySeed" name="regularKeySeed" readonly />
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <label>Use Ticket Sequence</label>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isTicketEnabled" [(ngModel)]="isTicket" (ngModelChange)="toggleTicketSequence()" name="isTicketEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isTicketEnabled"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isTicket">
                              <td>
                                   <label for="ticketSequence"></label>
                              </td>
                              <td>
                                   <input type="text" id="ticketSequence" size="40" id="ticketSequence" placeholder="Enter Ticket Sequence" [(ngModel)]="ticketSequence" name="ticketSequence" />
                              </td>
                         </tr>
                    </table>
               </div>
          </div>
     </fieldset>
</form>
