<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-wallet-input (walletChange)="onWalletInputChange($any($event))" (transactionResult)="handleTransactionResult($event)"></app-wallet-input>

     <!-- <fieldset>
          <legend style="color: white">Meme Coin Monitor</legend>

          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%; margin-top: 1em; background-color: #1a1c21">
               <ng-container matColumnDef="transactionType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tx Type</th>
                    <td mat-cell *matCellDef="let token" [class.trustset-cell]="token.transactionType === 'TrustSet'">{{ token.transactionType }}</td>
               </ng-container>

               <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
                    <td mat-cell *matCellDef="let token">{{ token.createdDate | date:'short' }}</td>
               </ng-container>

               <ng-container matColumnDef="creationAge">
                    <th mat-header-cell *matHeaderCellDef>Created Age</th>
                    <td mat-cell *matCellDef="let token">{{ token.creationAge }}</td>
               </ng-container>

               <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Buy/Sell</th>
                    <td mat-cell *matCellDef="let token">{{ token.action }}</td>
               </ng-container>

               <ng-container matColumnDef="amountXrp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>XRP Amount</th>
                    <td mat-cell *matCellDef="let token">{{ token.amountXrp }}</td>
               </ng-container>

               <ng-container matColumnDef="amountToken">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Token Amount</th>
                    <td mat-cell *matCellDef="let token">{{ token.amountToken }}</td>
               </ng-container>

               <ng-container matColumnDef="currency">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
                    <td mat-cell *matCellDef="let token">{{ token.currency }}</td>
               </ng-container>

               <ng-container matColumnDef="issuer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Issuer</th>
                    <td mat-cell *matCellDef="let token">{{ token.issuer }}</td>
               </ng-container>

               <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
                    <td mat-cell *matCellDef="let token">{{ isValidDate(token.timestamp) ? (token.timestamp | date:'short') : 'N/A' }}</td>
               </ng-container>

               <ng-container matColumnDef="transactionHash">
                    <th mat-header-cell *matHeaderCellDef>Transaction</th>
                    <td mat-cell *matCellDef="let token">
                         <a [href]="'https://livenet.xrpl.org/transactions/' + token.transactionHash" target="_blank"> {{ token.transactionHash | slice:0:10 }}... </a>
                    </td>
               </ng-container>

               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <div *ngIf="dataSource.data.length === 0" style="margin-top: 1em; color: lightgray">No meme coins detected yet.</div>

          <button mat-raised-button color="warn" (click)="clearMemeTokens()">Clear Table</button>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
     </fieldset> -->

     <br />
     <fieldset>
          <legend style="color: white">Transaction Information</legend>
          <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Name of the currently selected account.">
                              <label for="accountName1Field">Name</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountName1Field" size="42" [(ngModel)]="account1.name" name="accountName1Field" />
                         <input type="radio" id="account1" name="accounts" value="account1" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                         <label for="account1">Account 1</label>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Address of the currently selected account.">
                              <label for="accountAddress1Field">Address</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountAddress1Field" size="42" [(ngModel)]="account1.address" name="accountAddress1Field" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Seed of the currently selected account.">
                              <label for="accountSeed1Field">Seed</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountSeed1Field" size="42" [(ngModel)]="account1.seed" name="accountSeed1Field" />
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                              <label for="xrpBalanceField">Spendable XRP Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="xrpBalanceField" size="42" [(ngModel)]="account1.balance" readonly name="xrpBalanceField" />
                    </td>
               </tr>

               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                              <label for="ownerCountField">Owner Count</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="ownerCountField" size="42" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total number of XRP reserves. This includes the base reserve and any account objects that require a reserve.">
                              <label for="totalXrpReservesField">Total XRP Reserves</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalXrpReservesField" size="42" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total Execution time in milli seconds.">
                              <label for="totalExecutionTime">Total Execution Time in ms</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalExecutionTime" size="42" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Sequence number of the offer.">
                              <label for="offerSequenceField">Offer Sequence</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="offerSequenceField" size="42" placeholder="Comma seperated list of sequence numbers" [(ngModel)]="offerSequenceField" name="offerSequenceField" />
                    </td>
                    <td></td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check to make this a market order.">
                              <label for="isMarketOrder">Market Order</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="isMarketOrder" [(ngModel)]="isMarketOrder" name="isMarketOrder" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check to make this a market order.">
                              <label for="isMarketOrder"></label>
                         </span>
                    </td>
                    <!-- <td> -->
                    <!-- <label class="switch"> -->
                    <!-- <input type="checkbox" id="isMarketOrder" [(ngModel)]="isMarketOrder" name="isMarketOrder" /> -->
                    <!-- <span id="xrpPriceField">1 RLUSD will buy {{ xrpPrice }} XRP</span> -->
                    <!-- <span class="slider round"></span> -->
                    <!-- </label> -->
                    <!-- </td> -->
               </tr>
          </table>

          <!-- <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right; padding-bottom: 10px">
                         <span class="tooltip" tooltip-data="Taker Gets.">
                              <label for="weWantCurrencyField">Taker Gets</label>
                         </span>
                    </td>
                    <td style="text-align: left">
                         <span class="tooltip" tooltip-data="This is what I want to buy.">
                              <label for="weWantCurrencyField">This is what I'm buying (weWant)</label>
                         </span>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Currency codes for the Pay and Get offers.">
                              <label for="weWantCurrencyField">Currency Code</label>
                         </span>
                    </td>
                    <td>
                         <select class="timeUnit" id="weWantCurrencyField" style="width: 293px; height: 25px" [(ngModel)]="weWantCurrencyField" name="weWantCurrencyField">
                              <option value="XRP">XRP</option>
                              <option value="RLUSD">RLUSD</option>
                              <option value="USD">USD</option>
                              <option value="USDC">USDC</option>
                              <option value="DOG">DOG</option>
                         </select>
                         <p></p>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Issuers of the offered currencies.">
                              <label for="weWantIssuerField">Issuer</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weWantIssuerField" size="42" [(ngModel)]="weWantIssuerField" name="weWantIssuerField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of offered currencies.">
                              <label for="weWantAmountField">Amount</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weWantAmountField" size="42" [(ngModel)]="weWantAmountField" name="weWantAmountField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of currencies I hold">
                              <label for="weWantTokenBalance">Currency Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weWantTokenBalanceField" size="42" [(ngModel)]="weWantTokenBalanceField" name="weWantTokenBalanceField" />
                    </td>
               </tr>
          </table> -->

          <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right; padding-bottom: 10px">
                         <span class="tooltip" tooltip-data="Taker Gets.">
                              <label for="weWantCurrencyField">Taker Gets</label>
                         </span>
                    </td>
                    <td style="text-align: left">
                         <span class="tooltip" tooltip-data="This is what I want to buy.">
                              <label for="weWantCurrencyField">This is what I'm buying (weWant)</label>
                         </span>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Currency codes for the Pay and Get offers.">
                              <label for="weWantCurrencyField">Currency Code</label>
                         </span>
                    </td>
                    <td>
                         <select class="timeUnit" id="weWantCurrencyField" style="width: 293px; height: 25px" [(ngModel)]="weWantCurrencyField" name="weWantCurrencyField" (ngModelChange)="onWeWantCurrencyChange()">
                              <option value="XRP">XRP</option>
                              <option value="RLUSD">RLUSD</option>
                              <option value="USD">USD</option>
                              <option value="USDC">USDC</option>
                              <option value="PHNIX">PHNIX</option>
                              <option value="EVAP">EVAP</option>
                              <option value="ROCK">ROCK</option>
                              <option value="SNOW">SNOW</option>
                         </select>
                         <p></p>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Issuers of the offered currencies.">
                              <label for="weWantIssuerField">Issuer</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weWantIssuerField" size="42" [(ngModel)]="weWantIssuerField" name="weWantIssuerField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of offered currencies.">
                              <label for="weWantAmountField">Amount</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weWantAmountField" size="42" [(ngModel)]="weWantAmountField" name="weWantAmountField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of currencies I hold">
                              <label for="weWantTokenBalance">Currency Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weWantTokenBalanceField" size="42" [(ngModel)]="weWantTokenBalanceField" name="weWantTokenBalanceField" readonly />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Current Token balance for the selected account.">
                              <label for="tokenBalanceField">Sell</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="tokenBalanceField" size="42" [(ngModel)]="phnixBalance" name="tokenBalanceField" (blur)="updateTokenBalanceAndExchange()" />
                    </td>
               </tr>
               <div class="swap-container" (click)="swapBalances()" title="Swap values">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                         <path d="M17 3L21 7L17 11" stroke-width="2" stroke-linecap="round" />
                         <path d="M7 21L3 17L7 13" stroke-width="2" stroke-linecap="round" />
                         <path d="M21 7H10C7.79086 7 6 8.79086 6 11V11" stroke-width="2" stroke-linecap="round" />
                         <path d="M3 17H14C16.2091 17 18 15.2091 18 13V13" stroke-width="2" stroke-linecap="round" />
                    </svg>
               </div>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Estimated XRP you would receive by exchanging the current token at current market rates.">
                              <label for="toekenExchangeXrpField">Buy</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="toekenExchangeXrpField" size="42" [(ngModel)]="phnixExchangeXrp" name="toekenExchangeXrpField" />
                    </td>
               </tr>
               <!-- <div *ngIf="insufficientLiquidityWarning" class="warning">Not enough buyers: You can only sell {{ maxSellablePhnix }} {{ phnixCurrencyCode }} at current rates.</div> -->
               <!-- <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Optional Memo to be sent with the payment.">
                              <label for="memoField">Memo</label>
                         </span>
                    </td>
                    <td>
                         <textarea style="width: 280px" class="memoField" id="memoField" placeholder="Optional memo" [(ngModel)]="memoField" name="memoField"></textarea>
                         <br />
                    </td>
               </tr> -->
               <!-- <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to use a ticket sequence">
                              <label>Use Ticket Sequence</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <label class="switch">
                              <input type="checkbox" id="isTicketEnabled" [(ngModel)]="isTicket" (ngModelChange)="toggleTicketSequence()" name="isTicketEnabled" />
                              <span class="slider round"></span>
                         </label>
                         <label for="isTicketEnabled"></label>
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isTicket">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Enter ticket sequence to use for currently selected account">
                              <label for="ticketSequence"></label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="ticketSequence" size="42" id="ticketSequence" placeholder="Enter Ticket Sequence" [(ngModel)]="ticketSequence" name="ticketSequence" />
                         <br />
                    </td>
               </tr> -->
          </table>

          <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right; padding-bottom: 10px">
                         <span class="tooltip" tooltip-data="Taker Pays.">
                              <label for="weSpendCurrencyField">Taker Pays</label>
                         </span>
                    </td>
                    <td style="text-align: left; padding-bottom: 10px">
                         <span class="tooltip" tooltip-data="This is what I am selling.">
                              <label for="weSpendCurrencyField">This is what I'm selling (weSpend)</label>
                         </span>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Currency codes for the Pay and Get offers.">
                              <label for="weSpendCurrencyField">Currency Code</label>
                         </span>
                    </td>
                    <td>
                         <select class="timeUnit" id="weSpendCurrencyField" style="width: 293px; height: 25px" [(ngModel)]="weSpendCurrencyField" name="weSpendCurrencyField" (ngModelChange)="onWeSpendCurrencyChange()">
                              <option value="XRP">XRP</option>
                              <option value="RLUSD">RLUSD</option>
                              <option value="USD">USD</option>
                              <option value="USDC">USDC</option>
                              <option value="PHNIX">PHNIX</option>
                              <option value="TAZZ">TAZZ</option>
                              <option value="EVAP">EVAP</option>
                              <option value="ROCK">ROCK</option>
                              <option value="SNOW">SNOW</option>
                         </select>
                         <p></p>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Issuers of the offered currencies.">
                              <label for="weSpendIssuerField">Issuer</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weSpendIssuerField" size="42" [(ngModel)]="weSpendIssuerField" name="weSpendIssuerField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of offered currencies.">
                              <label for="weSpendAmountField">Amount</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weSpendAmountField" size="42" [(ngModel)]="weSpendAmountField" name="weSpendAmountField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of currencies I hold.">
                              <label for="weSpendTokenBalance">Currency Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weSpendTokenBalanceField" size="42" [(ngModel)]="weSpendTokenBalanceField" name="weSpendTokenBalanceField" readonly />
                    </td>
               </tr>
          </table>

          <!-- <table style="float: left; margin-top: 20px">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Current Token balance for the selected account.">
                              <label for="tokenBalanceField">Token Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="tokenBalanceField" size="42" [(ngModel)]="phnixBalance" name="tokenBalanceField" (ngModelChange)="updateTokenBalanceAndExchange()" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Estimated XRP you would receive by exchanging the current token at current market rates.">
                              <label for="toekenExchangeXrpField">XRP from Exchanging For Token</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="toekenExchangeXrpField" size="42" [(ngModel)]="phnixExchangeXrp" name="toekenExchangeXrpField" />
                    </td>
               </tr>
               <div *ngIf="insufficientLiquidityWarning" class="warning">Not enough buyers: You can only sell {{ maxSellablePhnix }} {{ phnixCurrencyCode }} at current rates.</div>
          </table> -->

          <!-- <table style="float: left; margin-top: 20px">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Current Token balance for the selected account.">
                              <label for="tokenBalanceField">Token Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="tokenBalanceField" size="42" [(ngModel)]="phnixBalance" name="tokenBalanceField" (ngModelChange)="updateTokenBalanceAndExchange()" />
                    </td>
               </tr>
               <tr>
                    <td colspan="2" style="text-align: center; padding: 5px 0">
                         <span class="swap-arrow" (click)="swapBalances()" title="Swap values"> ⇅ </span>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Estimated XRP you would receive by exchanging the current token at current market rates.">
                              <label for="toekenExchangeXrpField">XRP from Exchanging For Token</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="toekenExchangeXrpField" size="42" [(ngModel)]="phnixExchangeXrp" name="toekenExchangeXrpField" />
                    </td>
               </tr>
               <div *ngIf="insufficientLiquidityWarning" class="warning">Not enough buyers: You can only sell {{ maxSellablePhnix }} {{ phnixCurrencyCode }} at current rates.</div>
          </table> -->

          <!-- <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right; padding-bottom: 10px">
                         <span class="tooltip" tooltip-data="Taker Pays.">
                              <label for="weSpendCurrencyField">Taker Pays</label>
                         </span>
                    </td>
                    <td style="text-align: left; padding-bottom: 10px">
                         <span class="tooltip" tooltip-data="This is what I am selling.">
                              <label for="weSpendCurrencyField">This is what I'm selling (weSpend)</label>
                         </span>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Currency codes for the Pay and Get offers.">
                              <label for="weSpendCurrencyField">Currency Code</label>
                         </span>
                    </td>
                    <td>
                         <select class="timeUnit" id="weSpendCurrencyField" style="width: 293px; height: 25px" [(ngModel)]="weSpendCurrencyField" name="weSpendCurrencyField">
                              <option value="XRP">XRP</option>
                              <option value="RLUSD">RLUSD</option>
                              <option value="USD">USD</option>
                              <option value="USDC">USDC</option>
                              <option value="DOG">DOG</option>
                         </select>
                         <p></p>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Issuers of the offered currencies.">
                              <label for="weWantIssuerField">Issuer</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weSpendIssuerField" size="42" [(ngModel)]="weSpendIssuerField" name="weSpendIssuerField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of offered currencies.">
                              <label for="amountField">Amount</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weSpendAmountField" size="42" [(ngModel)]="weSpendAmountField" name="weSpendAmountField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of currencies I hold.">
                              <label for="weSpendTokenBalance">Currency Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="weSpendTokenBalanceField" size="42" [(ngModel)]="weSpendTokenBalanceField" name="weSpendTokenBalanceField" />
                    </td>
               </tr>
          </table> -->

          <div class="spinner-container">
               <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
               <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || 'Loading...' }}</div>
          </div>

          <table style="text-align: left; width: 100%">
               <th></th>
               <tr>
                    <td colspan="2">
                         <button type="button" (click)="getOffers()">Get Offers</button>
                         <button type="button" (click)="getOrderBook()">Get Order Book</button>
                         <button type="button" (click)="getTokenBalance()">Get Token Balance</button>
                         <button type="button" (click)="invertOrder()">Invert Order</button>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <button type="button" (click)="createOffer()">Create Offer</button>
                         <button type="button" (click)="cancelOffer()">Cancel Offer</button>
                         <button type="button" (click)="clearFields()">Clear Fields</button>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                    </td>
               </tr>
          </table>
     </fieldset>

     <details class="offer-info">
          <summary>Offer Info</summary>
          <fieldset class="offer-fieldset">
               <details class="offer-subdetails">
                    <summary>Offer Constraints</summary>
                    <div class="offer-table">
                         <div class="offer-row offer-header">
                              <div class="offer-cell">Offer Constraints</div>
                              <div class="offer-cell">Description</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Authorized Account Only</div>
                              <div class="offer-cell">Only the Destination account (set in CheckCreate) can cash the offer.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Check Must Exist</div>
                              <div class="offer-cell">The offer must still be in the ledger and not already cashed, expired, or canceled.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Sender Must Have Funds</div>
                              <div class="offer-cell">The sender (offer creator) must have sufficient XRP or IOU balance to cover the amount at the time of CheckCash.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Specify Amount OR DeliverMin</div>
                              <div class="offer-cell">You must provide either Amount (exact cash amount) or DeliverMin (minimum acceptable), not both.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">No Partial XRP Checks</div>
                              <div class="offer-cell">XRP checks must specify exact Amount. DeliverMin is only allowed for IOU currencies.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Trust Line Required for IOUs</div>
                              <div class="offer-cell">The recipient must have a trust line to the issuer (if the offer is for an issued currency like USD, RLUSD, etc.).</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Respect SendMax Limit</div>
                              <div class="offer-cell">The cashed Amount or DeliverMin must be less than or equal to the SendMax value from the original CheckCreate.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Check Can Expire</div>
                              <div class="offer-cell">If Expiration was set in CheckCreate, the offer cannot be cashed after that time (based on XRPL close time).</div>
                         </div>
                    </div>
               </details>

               <details class="offer-subdetails">
                    <summary>Offer Create Flags</summary>
                    <div class="offer-table">
                         <div class="offer-row offer-header">
                              <div class="offer-cell">Offer Flags</div>
                              <div class="offer-cell">Hex Value</div>
                              <div class="offer-cell">Purpose</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Passive consumption <code>tfPassive</code></div>
                              <div class="offer-cell"><code>0x00010000</code></div>
                              <div class="offer-cell">Don't consume matching offers immediately.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Immediate or Cancel <code>tfImmediateOrCancel</code></div>
                              <div class="offer-cell"><code>0x00020000</code></div>
                              <div class="offer-cell">Execute immediately or cancel (no partially filled orders).</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Fill or Kill <code>tfFillOrKill</code></div>
                              <div class="offer-cell"><code>0x00040000</code></div>
                              <div class="offer-cell">Execute in full or not at all.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Sell <code>tfSell</code></div>
                              <div class="offer-cell"><code>0x00080000</code></div>
                              <div class="offer-cell">Treat offer as **sell**, prioritizing `TakerGets` quantity.</div>
                         </div>
                    </div>
               </details>

               <details class="offer-subdetails">
                    <summary>Offer Create Transaction Settings</summary>
                    <div class="offer-table">
                         <div class="offer-row offer-header">
                              <div class="offer-cell">Field</div>
                              <div class="offer-cell">Optional</div>
                              <div class="offer-cell">Purpose</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>TakerGets</code></div>
                              <div class="offer-cell">Required</div>
                              <div class="offer-cell">What you are **offering** (the asset you will give).</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>TakerPays</code></div>
                              <div class="offer-cell">Required</div>
                              <div class="offer-cell">What you **want** in return.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>Flags</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">Bitmask flags to control behavior like passive mode, fill-or-kill, or immediate-or-cancel.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>Expiration</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">Ledger time when the offer expires automatically.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>OfferSequence</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">To replace an existing offer with the same sequence number.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>TicketSequence</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">Use a ticket instead of the standard sequence number.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>Sequence</code></div>
                              <div class="offer-cell">Required if not using Ticket</div>
                              <div class="offer-cell">Required unless using `TicketSequence`.</div>
                         </div>
                    </div>
               </details>
          </fieldset>
     </details>
</form>
