.transaction-layout {
     display: grid;
     grid-template-columns: 1.5fr 1fr;
     gap: 20px;
     align-items: start;
}

.left-column {
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.right-column {
     justify-self: start;
     width: 100%;
}

.flags-layout {
     display: grid;
     grid-template-columns: 4fr 0.1fr 1fr;
     gap: 20px;
     align-items: start;
}

.flags-layout table {
     flex: 1;
}

.button-container {
     width: 100%;
}

table textarea {
     resize: vertical;
     height: 60px;
}

#flags,
#meta td:first-child {
     white-space: nowrap;
     width: 150px;
     padding-right: 10px;
     text-align: right;
     vertical-align: middle;
}

#flags,
#meta td:last-child {
     width: auto;
}

.switch {
     position: relative;
     display: inline-block;
     width: 40px;
     height: 20px;
     padding: 10px;
}

.switch input {
     opacity: 0;
     width: 0;
     height: 0;
}


.flag-row {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 6px 0;
     padding: 4px 0;
}

#flags {
     border-collapse: collapse;
}

#flags td:first-child {
     width: 180px;
     text-align: right;
     padding-right: 10px;
     vertical-align: top;
}

#flags .form-row-td {
     width: 150px;
     text-align: right;
     padding-right: 10px;
}

#flags input[type="text"],
#flags select {
     width: 300px;
     height: 28px;
}

#meta {
     border-collapse: collapse;
}

#meta td:first-child {
     width: 180px;
     text-align: right;
     padding-right: 10px;
     vertical-align: top;
}

#meta .form-row-td {
     width: 150px;
     text-align: right;
     padding-right: 10px;
}

#meta input[type="text"],
#meta select {
     width: 300px;
     height: 28px;
}

.delegate-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 10px 30px;
}

.delegate-item {
     display: grid;
     grid-template-columns: 2fr 0.5fr 1fr;
     align-items: center;
     gap: 10px;
}

.delegate-item .switch {
     justify-self: center;
     /* centers the switch in its grid cell */
}

#flags label,
.delegate-item label,
.delegate-item small {
     color: white;
     white-space: nowrap;
     /* don’t wrap long text */
}

#flags small {
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 140px;
     display: inline-block;
}