<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-wallet-input (walletChange)="onWalletInputChange($any($event))" (transactionResult)="handleTransactionResult($event)"></app-wallet-input>

     <fieldset>
          <legend style="color: white">Transaction Information</legend>
          <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Name of the currently selected account.">
                              <label for="accountName1Field">Name</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountName1Field" size="42" [(ngModel)]="account1.name" name="accountName1Field" />
                         <input type="radio" id="account1" name="accounts" value="account1" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange($event)" />
                         <label for="account1">Account 1</label>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Address of the currently selected account.">
                              <label for="accountAddress1Field">Address</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountAddress1Field" size="42" [(ngModel)]="account1.address" name="accountAddress1Field" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Seed of the currently selected account.">
                              <label for="accountSeed1Field">Seed</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountSeed1Field" size="42" [(ngModel)]="account1.seed" name="accountSeed1Field" />
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                              <label for="xrpBalanceField">Spendable XRP Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="xrpBalanceField" size="42" [(ngModel)]="account1.balance" readonly name="xrpBalanceField" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                              <label for="ownerCountField">Owner Count</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="ownerCountField" size="42" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total number of XRP reserves. This includes the base reserve and any account objects that require a reserve.">
                              <label for="totalXrpReservesField">Total XRP Reserves</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalXrpReservesField" size="42" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total Execution time in milli seconds.">
                              <label for="totalExecutionTime">Total Execution Time in ms</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalExecutionTime" size="42" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Sequence number of the offer.">
                              <label for="offerSequenceField">Offer Sequence</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="offerSequenceField" size="42" placeholder="Comma seperated list of sequence numbers" [(ngModel)]="offerSequenceField" name="offerSequenceField" />
                    </td>
                    <td></td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check to make this a market order.">
                              <label for="isMarketOrder">Market Order</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="isMarketOrder" [(ngModel)]="isMarketOrder" name="isMarketOrder" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check to make this a market order.">
                              <label for="isMarketOrder"></label>
                         </span>
                    </td>
               </tr>
          </table>

          <!-- Tabbed Interface -->
          <div class="tabs-container">
               <div class="tabs">
                    <div class="tab-list" role="tablist">
                         <button class="tab" [ngClass]="{'tab-selected': activeTab === 'market'}" (click)="setActiveTab('market')" role="tab" [attr.aria-selected]="activeTab === 'market'">Market</button>
                         <button class="tab" [ngClass]="{'tab-selected': activeTab === 'limit'}" (click)="setActiveTab('limit')" role="tab" [attr.aria-selected]="activeTab === 'limit'">Limit</button>
                         <button class="tab" [ngClass]="{'tab-selected': activeTab === 'send'}" (click)="setActiveTab('send')" role="tab" [attr.aria-selected]="activeTab === 'send'">Send</button>
                    </div>
                    <div class="tab-indicator" [ngStyle]="{'left': tabIndicatorLeft, 'width': tabIndicatorWidth}"></div>
               </div>
               <div class="tab-content">
                    <!-- Market Tab (Placeholder) -->
                    <div class="tab-panel" [ngClass]="{'active': activeTab === 'market'}">
                         <div class="card-content">
                              <p>Market order functionality not yet implemented.</p>
                         </div>
                    </div>

                    <!-- Limit Tab -->
                    <div class="tab-panel" [ngClass]="{'active': activeTab === 'limit'}">
                         <div class="card-content">
                              <form class="swap-form">
                                   <div class="stack-container">
                                        <!-- Limit Price Section -->
                                        <fieldset class="form-control full-width" aria-labelledby="limitPrice">
                                             <div class="stack-container number-container">
                                                  <div class="stack-container nc-input">
                                                       <label class="form-label" for="limitPrice">
                                                            <div class="stack-container">
                                                                 <div class="stack-container">
                                                                      <p class="typography-body1">When 1</p>
                                                                      <div class="c-img">
                                                                           <img class="cwr-img" [src]="tokenLogos[weWantCurrencyField] || 'https://xpcdn.xpmarket.com/gravatars/fixed/Xrp.png'" [alt]="weWantCurrencyField" loading="lazy" />
                                                                      </div>
                                                                      <p class="typography-body1">{{ weWantCurrencyField }}</p>
                                                                      <p class="typography-body1">is worth</p>
                                                                 </div>
                                                                 <button class="icon-button" type="button" (click)="invertOrder()">
                                                                      <svg class="icon" viewBox="0 0 24 24">
                                                                           <path d="M6.99 11 3 15l3.99 4v-3H14v-2H6.99zM21 9l-3.99-4v3H10v2h7.01v3z"></path>
                                                                      </svg>
                                                                 </button>
                                                            </div>
                                                       </label>
                                                       <div class="stack-container nc-field">
                                                            <div class="text-field" inputmode="numeric">
                                                                 <input id="limitPrice" placeholder="0.00" type="text" inputmode="decimal" [(ngModel)]="averageExchangeRate" name="limitPrice" class="input-field" readonly />
                                                            </div>
                                                            <div class="stack-container token-dropdown">
                                                                 <div class="stack-container">
                                                                      <div class="c-img">
                                                                           <img class="cwr-img" [src]="tokenLogos[weSpendCurrencyField] || 'https://xpcdn.xpmarket.com/gravatars/fixed/Xrp.png'" [alt]="weSpendCurrencyField" loading="lazy" />
                                                                      </div>
                                                                      <p class="typography-body1">{{ weSpendCurrencyField }}</p>
                                                                 </div>
                                                            </div>
                                                       </div>
                                                       <span class="form-helper-text">
                                                            <div class="stack-container">
                                                                 <!-- <button class="chip clickable" (click)="setSlippage(0.2357)">
                                                                      <span class="chip-label"><span class="number-wrapper">23.57%</span></span>
                                                                 </button> -->
                                                                 <button class="chip clickable" (click)="setSlippage(0.01)">
                                                                      <span class="chip-label"><span class="number-wrapper">1%</span></span>
                                                                 </button>
                                                                 <button class="chip clickable" (click)="setSlippage(0.05)">
                                                                      <span class="chip-label"><span class="number-wrapper">5%</span></span>
                                                                 </button>
                                                                 <button class="chip clickable" (click)="setSlippage(0.10)">
                                                                      <span class="chip-label"><span class="number-wrapper">10%</span></span>
                                                                 </button>
                                                            </div>
                                                       </span>
                                                  </div>
                                             </div>
                                        </fieldset>

                                        <!-- Sell Section -->
                                        <fieldset class="form-control full-width" aria-labelledby="fromAmount">
                                             <div class="stack-container number-container">
                                                  <div class="stack-container nc-input">
                                                       <label class="form-label" for="fromAmount">
                                                            <div class="stack-container">
                                                                 <p class="typography-body1">Sell</p>
                                                                 <label class="form-label">
                                                                      <div class="stack-container">
                                                                           <p class="typography-body1">Balance</p>
                                                                           <div class="tb-container">
                                                                                <span class="typography-body1 tb-text">
                                                                                     <span class="number-wrapper">{{ weSpendTokenBalanceField | number:'1.0-18' }}</span>
                                                                                </span>
                                                                           </div>
                                                                      </div>
                                                                 </label>
                                                            </div>
                                                       </label>
                                                       <div class="stack-container nc-field">
                                                            <div class="text-field" inputmode="numeric">
                                                                 <input id="fromAmount" placeholder="0.00" type="text" inputmode="decimal" [(ngModel)]="weSpendAmountField" name="fromAmount" class="input-field" (blur)="updateTokenBalanceAndExchange()" />
                                                            </div>
                                                            <div class="stack-container token-dropdown">
                                                                 <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onWeSpendCurrencyChange($event.option.value)">
                                                                      <mat-option *ngFor="let token of availableTokens" [value]="token">
                                                                           <div class="stack-container">
                                                                                <div class="c-img">
                                                                                     <img class="cwr-img" [src]="tokenLogos[token] || 'https://xpcdn.xpmarket.com/gravatars/fixed/Xrp.png'" [alt]="token" loading="lazy" />
                                                                                </div>
                                                                                <p class="typography-body1">{{ token }}</p>
                                                                           </div>
                                                                      </mat-option>
                                                                 </mat-autocomplete>
                                                                 <input matInput placeholder="Search" [(ngModel)]="weSpendCurrencyField" name="weSpendCurrencyField" [matAutocomplete]="auto" class="input-field" />
                                                            </div>
                                                       </div>
                                                       <span class="form-helper-text">
                                                            <div class="stack-container">
                                                                 <p class="typography-body1">
                                                                      <span class="number-wrapper">{{ weSpendValueUSD | currency:'USD' }}</span>
                                                                 </p>
                                                            </div>
                                                       </span>
                                                  </div>
                                             </div>
                                        </fieldset>

                                        <!-- Swap Switch Button -->
                                        <div class="swap-switch-container">
                                             <div class="swap-switch-btn" role="button" (click)="invertOrder()">
                                                  <svg class="icon swap-switch-icon" viewBox="0 0 24 24">
                                                       <path d="M6.99 11 3 15l3.99 4v-3H14v-2H6.99zM21 9l-3.99-4v3H10v2h7.01v3z"></path>
                                                  </svg>
                                             </div>
                                        </div>

                                        <!-- Buy Section -->
                                        <fieldset class="form-control full-width" aria-labelledby="toAmount">
                                             <div class="stack-container number-container">
                                                  <div class="stack-container nc-input">
                                                       <label class="form-label" for="toAmount">
                                                            <div class="stack-container">
                                                                 <p class="typography-body1">Buy</p>
                                                                 <label class="form-label">
                                                                      <div class="stack-container">
                                                                           <p class="typography-body1">Balance</p>
                                                                           <div class="tb-container">
                                                                                <span class="typography-body1 tb-text">
                                                                                     <span class="number-wrapper">{{ weWantTokenBalanceField | number:'1.0-18' }}</span>
                                                                                </span>
                                                                           </div>
                                                                      </div>
                                                                 </label>
                                                            </div>
                                                       </label>
                                                       <div class="stack-container nc-field">
                                                            <div class="text-field" inputmode="numeric">
                                                                 <input id="toAmount" placeholder="0.00" type="text" inputmode="decimal" [(ngModel)]="weWantAmountField" name="toAmount" class="input-field" (blur)="updateTokenBalanceAndExchange()" />
                                                            </div>
                                                            <div class="stack-container token-dropdown">
                                                                 <mat-autocomplete #autoWant="matAutocomplete" (optionSelected)="onWeWantCurrencyChange($event.option.value)">
                                                                      <mat-option *ngFor="let token of availableTokens" [value]="token">
                                                                           <div class="stack-container">
                                                                                <div class="c-img">
                                                                                     <img class="cwr-img" [src]="tokenLogos[token] || 'https://xpcdn.xpmarket.com/gravatars/fixed/Xrp.png'" [alt]="token" loading="lazy" />
                                                                                </div>
                                                                                <p class="typography-body1">{{ token }}</p>
                                                                           </div>
                                                                      </mat-option>
                                                                 </mat-autocomplete>
                                                                 <input matInput placeholder="Search" [(ngModel)]="weWantCurrencyField" name="weWantCurrencyField" [matAutocomplete]="autoWant" class="input-field" />
                                                            </div>
                                                       </div>
                                                       <span class="form-helper-text">
                                                            <div class="stack-container">
                                                                 <p class="typography-body1">
                                                                      <span class="number-wrapper">{{ weWantValueUSD | currency:'USD' }}</span>
                                                                 </p>
                                                                 <span class="tooltip-content" [matTooltip]="priceImpactTooltip">
                                                                      <p class="typography-body1">
                                                                           <span class="number-wrapper">({{ priceImpact | number:'1.2-2' }}%)</span>
                                                                      </p>
                                                                 </span>
                                                            </div>
                                                       </span>
                                                  </div>
                                             </div>
                                        </fieldset>

                                        <!-- Swap Details -->
                                        <div class="stack-container swap-details">
                                             <div class="stack-container detail-row">
                                                  <span class="typography-body1">Pool fee:</span>
                                                  <span class="typography-body1">
                                                       <span class="number-wrapper">{{ poolFee | number:'1.0-8' }} {{ weSpendCurrencyField }} ({{ poolFeePercent | number:'1.2-2' }}%)</span>
                                                  </span>
                                             </div>
                                             <div class="stack-container detail-row">
                                                  <span class="typography-body1">Minimum received:</span>
                                                  <span class="typography-body1">
                                                       <span class="number-wrapper">{{ minimumReceived | number:'1.0-8' }} {{ weWantCurrencyField }}</span>
                                                  </span>
                                             </div>
                                             <div class="stack-container detail-row">
                                                  <span class="typography-body1">Slippage tolerance:</span>
                                                  <span class="typography-body1">
                                                       <!-- <div class="edit-slippage" role="button" (click)="openSlippageDialog()"> -->
                                                       <div class="edit-slippage" role="button">
                                                            <span class="number-wrapper">{{ slippage * 100 | number:'1.0-2' }}%</span>
                                                            <svg class="icon edit-icon" viewBox="0 0 24 24">
                                                                 <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75z"></path>
                                                            </svg>
                                                       </div>
                                                  </span>
                                             </div>
                                        </div>

                                        <!-- Swap Actions -->
                                        <div class="stack-container swap-actions">
                                             <div class="styled-btn">
                                                  <button class="btn-contained btn-primary btn-large full-width" type="submit" (click)="createOffer()">
                                                       <div class="btn-text">Set Order</div>
                                                  </button>
                                             </div>
                                        </div>
                                   </div>
                              </form>
                         </div>
                    </div>

                    <!-- Send Tab (Placeholder) -->
                    <div class="tab-panel" [ngClass]="{'active': activeTab === 'send'}">
                         <div class="card-content">
                              <p>Send functionality not yet implemented.</p>
                         </div>
                    </div>
               </div>
          </div>

          <div class="spinner-container">
               <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
               <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || 'Loading...' }}</div>
          </div>

          <table style="text-align: left; width: 100%">
               <th></th>
               <tr>
                    <td colspan="2">
                         <button type="button" (click)="getOffers()">Get Offers</button>
                         <button type="button" (click)="getOrderBook()">Get Order Book</button>
                         <button type="button" (click)="getTokenBalance()">Get Token Balance</button>
                         <button type="button" (click)="invertOrder()">Invert Order</button>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <button type="button" (click)="createOffer()">Create Offer</button>
                         <button type="button" (click)="cancelOffer()">Cancel Offer</button>
                         <button type="button" (click)="clearFields()">Clear Fields</button>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                    </td>
               </tr>
          </table>
     </fieldset>

     <details class="offer-info">
          <summary>Offer Info</summary>
          <fieldset class="offer-fieldset">
               <details class="offer-subdetails">
                    <summary>Offer Constraints</summary>
                    <div class="offer-table">
                         <div class="offer-row offer-header">
                              <div class="offer-cell">Offer Constraints</div>
                              <div class="offer-cell">Description</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Authorized Account Only</div>
                              <div class="offer-cell">Only the Destination account (set in CheckCreate) can cash the offer.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Check Must Exist</div>
                              <div class="offer-cell">The offer must still be in the ledger and not already cashed, expired, or canceled.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Sender Must Have Funds</div>
                              <div class="offer-cell">The sender (offer creator) must have sufficient XRP or IOU balance to cover the amount at the time of CheckCash.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Specify Amount OR DeliverMin</div>
                              <div class="offer-cell">You must provide either Amount (exact cash amount) or DeliverMin (minimum acceptable), not both.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">No Partial XRP Checks</div>
                              <div class="offer-cell">XRP checks must specify exact Amount. DeliverMin is only allowed for IOU currencies.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Trust Line Required for IOUs</div>
                              <div class="offer-cell">The recipient must have a trust line to the issuer (if the offer is for an issued currency like USD, RLUSD, etc.).</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Respect SendMax Limit</div>
                              <div class="offer-cell">The cashed Amount or DeliverMin must be less than or equal to the SendMax value from the original CheckCreate.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Check Can Expire</div>
                              <div class="offer-cell">If Expiration was set in CheckCreate, the offer cannot be cashed after that time (based on XRPL close time).</div>
                         </div>
                    </div>
               </details>

               <details class="offer-subdetails">
                    <summary>Offer Create Flags</summary>
                    <div class="offer-table">
                         <div class="offer-row offer-header">
                              <div class="offer-cell">Offer Flags</div>
                              <div class="offer-cell">Hex Value</div>
                              <div class="offer-cell">Purpose</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Passive consumption <code>tfPassive</code></div>
                              <div class="offer-cell"><code>0x00010000</code></div>
                              <div class="offer-cell">Don't consume matching offers immediately.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Immediate or Cancel <code>tfImmediateOrCancel</code></div>
                              <div class="offer-cell"><code>0x00020000</code></div>
                              <div class="offer-cell">Execute immediately or cancel (no partially filled orders).</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Fill or Kill <code>tfFillOrKill</code></div>
                              <div class="offer-cell"><code>0x00040000</code></div>
                              <div class="offer-cell">Execute in full or not at all.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell">Sell <code>tfSell</code></div>
                              <div class="offer-cell"><code>0x00080000</code></div>
                              <div class="offer-cell">Treat offer as **sell**, prioritizing `TakerGets` quantity.</div>
                         </div>
                    </div>
               </details>

               <details class="offer-subdetails">
                    <summary>Offer Create Transaction Settings</summary>
                    <div class="offer-table">
                         <div class="offer-row offer-header">
                              <div class="offer-cell">Field</div>
                              <div class="offer-cell">Optional</div>
                              <div class="offer-cell">Purpose</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>TakerGets</code></div>
                              <div class="offer-cell">Required</div>
                              <div class="offer-cell">What you are **offering** (the asset you will give).</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>TakerPays</code></div>
                              <div class="offer-cell">Required</div>
                              <div class="offer-cell">What you **want** in return.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>Flags</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">Bitmask flags to control behavior like passive mode, fill-or-kill, or immediate-or-cancel.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>Expiration</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">Ledger time when the offer expires automatically.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>OfferSequence</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">To replace an existing offer with the same sequence number.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>TicketSequence</code></div>
                              <div class="offer-cell">No</div>
                              <div class="offer-cell">Use a ticket instead of the standard sequence number.</div>
                         </div>
                         <div class="offer-row">
                              <div class="offer-cell"><code>Sequence</code></div>
                              <div class="offer-cell">Required if not using Ticket</div>
                              <div class="offer-cell">Required unless using `TicketSequence`.</div>
                         </div>
                    </div>
               </details>
          </fieldset>
     </details>
</form>
