<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-wallet-input (walletChange)="onWalletInputChange($any($event))" (transactionResult)="handleTransactionResult($event)"></app-wallet-input>

     <fieldset>
          <legend style="color: white">Transaction Information</legend>
          <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Name of the currently selected account.">
                              <label for="accountName1Field">Name</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountName1Field" size="40" [(ngModel)]="account1.name" name="accountName1Field" />
                         <input type="radio" id="account1" name="accounts" value="account1" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                         <label for="account1">Account 1</label>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Address of the currently selected account.">
                              <label for="accountAddress1Field">Address</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountAddress1Field" size="40" [(ngModel)]="account1.address" name="accountAddress1Field" />
                         <input type="radio" id="account2" name="accounts" value="account2" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                         <label for="account2">Account 2</label>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Seed of the currently selected account.">
                              <label for="accountSeed1Field">Seed</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountSeed1Field" size="40" [(ngModel)]="account1.seed" name="accountSeed1Field" />
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                              <label for="xrpBalanceField">Spendable XRP Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="xrpBalanceField" size="40" [(ngModel)]="account1.balance" readonly name="xrpBalanceField" />
                    </td>
               </tr>
               <!-- <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                              <label for="xrpBalance1Field">Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="xrpBalance1Field" size="40" [(ngModel)]="account1.balance" readonly name="xrpBalance1Field" />
                    </td>
               </tr> -->
               <tr *ngIf="currencyFieldDropDownValue !== 'XRP'" id="issuerRow">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Issuer address for non-XRP currencies.">
                              <label for="issuerField">Issuer</label>
                         </span>
                    </td>
                    <td>
                         <select class="timeUnit" id="issuerField" style="width: 280px; height: 25px" [(ngModel)]="selectedIssuer" name="issuerField">
                              <option value="" disabled selected>Select an issuer</option>
                              <option *ngFor="let issuer of issuers" [value]="issuer">{{ issuer }}</option>
                         </select>
                         <p></p>
                    </td>
               </tr>
               <tr *ngIf="currencyFieldDropDownValue !== 'XRP'" id="tokenBalanceRow">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of currencies held by the account">
                              <label for="tokenBalance">Currency Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="tokenBalance" size="40" [(ngModel)]="tokenBalance" readonly name="tokenBalance" />
                    </td>
               </tr>
               <!-- <tr *ngIf="currencyFieldDropDownValue !== 'XRP'" id="issuerRow">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Issuer address for non-XRP currencies.">
                              <label for="issuerField">Issuer</label>
                         </span>
                    </td>
                    <td>
                         <select class="timeUnit" id="issuerField" style="width: 280px; height: 25px"></select>
                         <p></p>
                    </td>
               </tr>
               <tr *ngIf="currencyFieldDropDownValue !== 'XRP'" id="tokenBalanceRow">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amounts of currencies held by the account">
                              <label for="tokenBalance">Currency Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="tokenBalance" size="40" readonly />
                    </td>
               </tr> -->
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                              <label for="ownerCountField">Owner Count</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="ownerCountField" size="40" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total number of XRP reserves. This includes the base reserve and any account objects that require a reserve.">
                              <label for="totalXrpReservesField">Total XRP Reserves</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalXrpReservesField" size="40" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total Execution time in milli seconds.">
                              <label for="totalExecutionTime">Total Execution Time in ms</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalExecutionTime" size="40" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                    </td>
               </tr>
          </table>

          <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Currency code for the check.">
                              <label for="currencyFieldDropDownValue">Currency Code</label>
                         </span>
                    </td>
                    <td>
                         <select class="timeUnit" id="currencyFieldDropDownValue" name="currencyFieldDropDownValue" style="width: 280px; height: 25px" [(ngModel)]="currencyFieldDropDownValue" (ngModelChange)="toggleIssuerField()">
                              <option value="XRP">XRP</option>
                              <option value="RLUSD">RLUSD</option>
                              <option value="USD">USD</option>
                              <option value="USDC">USDC</option>
                              <option value="DOG">DOG</option>
                         </select>
                         <p></p>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Amount of currency to send.">
                              <label for="amountField">Amount</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="amountField" size="40" [(ngModel)]="amountField" name="amountField" [placeholder]="currencyFieldDropDownValue === 'XRP' ? 'Amount in XRP (not drops)' : 'Currency amount'" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Destination account address where XRP is sent.">
                              <label for="destinationField">Destination</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="destinationField" size="40" [(ngModel)]="destinationField" name="destinationField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check will expire after this time.">
                              <label for="expirationTimeField">Expiration Time</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="expirationTimeField" placeholder="Enter time" size="40" [(ngModel)]="expirationTimeField" name="expirationTimeField" />
                         <select class="timeUnit" id="checkExpirationTime" [(ngModel)]="checkExpirationTime" name="checkExpirationTime">
                              <option value="seconds">Seconds</option>
                              <option value="minutes">Minutes</option>
                              <option value="hours">Hours</option>
                              <option value="days">Days</option>
                         </select>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Optional Memo to be sent with the payment.">
                              <label for="memoField">Memo</label>
                         </span>
                    </td>
                    <td>
                         <textarea style="width: 280px" class="memoField" id="memoField" placeholder="Optional memo" [(ngModel)]="memoField" name="memoField"></textarea>
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to use a ticket sequence">
                              <label>Use Ticket Sequnce</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <input type="checkbox" id="isTicketEnabled" [(ngModel)]="isTicket" (ngModelChange)="toggleTicketSequence()" name="isTicketEnabled" />
                         <label for="isTicketEnabled"></label>
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isTicket">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Enter ticket sequence to use for currently selected account">
                              <label for="ticketSequence"></label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="ticketSequence" size="40" id="ticketSequence" placeholder="Enter Ticket Sequence" [(ngModel)]="ticketSequence" name="ticketSequence" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check ID.">
                              <label for="checkIdField">Check ID / Ledger Index</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="checkIdField" size="85" [(ngModel)]="checkIdField" name="checkIdField" />
                         <br />
                    </td>
               </tr>
          </table>

          <!-- <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div> -->
          <div class="spinner-container">
               <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
               <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || 'Loading...' }}</div>
          </div>

          <table style="text-align: left; width: 100%">
               <th></th>
               <tr>
                    <td colspan="2">
                         <button type="button" (click)="getChecks()">Get Checks</button>
                         <button type="button" (click)="sendCheck()">Send Check</button>
                         <button type="button" (click)="cashCheck()">Cash Check</button>
                         <button type="button" (click)="cancelCheck()">Cancel Check</button>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                    </td>
               </tr>
          </table>
     </fieldset>
</form>
