<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-wallet-multi-input (walletChange)="onWalletInputChange($any($event))" (transactionResult)="handleTransactionResult($event)"></app-wallet-multi-input>

     <fieldset>
          <legend style="color: white">Transaction Information</legend>

          <div class="transaction-layout">
               <div class="left-column">
                    <div class="flags-layout">
                         <table id="flags">
                              <th></th>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Name of the currently selected account.">
                                             <label for="accountName1Field">Name</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="accountName1Field" size="40" [(ngModel)]="account1.name" name="accountName1Field" />
                                        <input type="radio" id="account1" name="accounts" value="account1" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="account1">Account 1</label>
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Address of the currently selected account.">
                                             <label for="accountAddress1Field">Address</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="accountAddress1Field" size="40" [(ngModel)]="account1.address" name="accountAddress1Field" />
                                        <input type="radio" id="account2" name="accounts" value="account2" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="account2">Account 2</label>
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Seed of the currently selected account.">
                                             <label for="accountSeed1Field">Seed</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="accountSeed1Field" size="40" [(ngModel)]="account1.seed" name="accountSeed1Field" />
                                        <input type="radio" id="accountIssuer" name="accounts" value="accountIssuer" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                                        <label for="accountIssuer">Account 3</label>
                                   </td>
                              </tr>
                              <tr>
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                                             <label for="xrpBalance1Field">Spendable XRP Balance</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="xrpBalance1Field" size="40" [(ngModel)]="account1.balance" readonly name="xrpBalance1Field" />
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                                             <label for="ownerCountField">Owner Count</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="ownerCountField" size="40" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                                        <br />
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Total number of XRP reserves. This includes the base reserve and any account objects that require a reserve.">
                                             <label for="totalXrpReservesField">Total XRP Reserves</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="totalXrpReservesField" size="40" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                                        <br />
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Total Execution time in milli seconds.">
                                             <label for="totalExecutionTime">Total Execution Time in ms</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="totalExecutionTime" size="40" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                                   </td>
                              </tr>
                         </table>

                         <table id="flags">
                              <th></th>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Destination account address where XRP is sent.">
                                             <label for="destinationField">Destination</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="destinationField" size="40" [(ngModel)]="destinationField" name="destinationField" />
                                        <br />
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td style="text-align: right">
                                        <span class="tooltip" tooltip-data="Destination tag to be used when sending to an exchange (i.e. Coinbase).">
                                             <label for="destinationTagField">Destination Tag</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="text" id="destinationTagField" size="40" [(ngModel)]="destinationTagField" name="destinationTagField" />
                                        <br />
                                   </td>
                              </tr>
                         </table>
                    </div>

                    <div class="spinner-container">
                         <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
                         <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || 'Loading...' }}</div>
                    </div>

                    <div class="button-container">
                         <table style="text-align: left; width: 100%">
                              <th></th>
                              <tr>
                                   <td colspan="2">
                                        <button type="button" (click)="deleteAccount()">Delete Account</button>
                                        <button type="button" (click)="clearFields()">Clear Fields</button>
                                   </td>
                              </tr>
                              <tr>
                                   <td colspan="2">
                                        <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                                   </td>
                              </tr>
                         </table>
                    </div>
                    <details class="delete-account-info">
                         <summary>Delete Account Info</summary>
                         <fieldset class="delete-account-fieldset">
                              <details class="delete-account-subdetails">
                                   <summary>Delete Account Constraints</summary>
                                   <div class="delete-account-table">
                                        <div class="delete-account-row delete-account-header">
                                             <div class="delete-account-cell">Delete Account Constraints</div>
                                             <div class="delete-account-cell">Description</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell"><code>No Trust Lines</code></div>
                                             <div class="delete-account-cell">Must delete all trust lines first (using `TrustSet` to set limit to 0).</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell"><code>No Offers (Orders)</code></div>
                                             <div class="delete-account-cell">Must cancel all open offers (using `OfferCancel`).</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell"><code>No Escrows or Checks</code></div>
                                             <div class="delete-account-cell">All escrows and checks must be finished or canceled.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell"><code>No Tickets</code></div>
                                             <div class="delete-account-cell">Must clear any unused [Tickets](https://xrpl.org/tickets.html).</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell"><code>No SignerList (Multi-Sign)</code></div>
                                             <div class="delete-account-cell">Multi-sign configuration must be removed.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell"><code>No Deposit Authorization</code></div>
                                             <div class="delete-account-cell">If set, it may block the final XRP deposit into the `Destination`.</div>
                                        </div>
                                   </div>
                              </details>
                              <details class="delete-account-subdetails">
                                   <summary>Delete Account Rules</summary>
                                   <div class="delete-account-table">
                                        <div class="delete-account-row delete-account-header">
                                             <div class="delete-account-cell">Delete Account Rules</div>
                                             <div class="delete-account-cell">Description</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">Sender</div>
                                             <div class="delete-account-cell">The account that is being deleted. Only the owner can initiate the deletion.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">Destination</div>
                                             <div class="delete-account-cell">Must be a funded XRPL account that will receive the leftover XRP.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">No Objects</div>
                                             <div class="delete-account-cell">The account must not own any ledger objects (trust lines, offers, escrows, etc).</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">Sufficient XRP</div>
                                             <div class="delete-account-cell">Must retain enough XRP to pay the account reserve and transaction fee.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">Minimum XRP to Remain</div>
                                             <div class="delete-account-cell">After deletion, the remaining XRP (minus the fee) is sent to the Destination.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">Regular Key</div>
                                             <div class="delete-account-cell">Allowed — but if Master Key is disabled and no Regular Key, deletion fails.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">Account Flags</div>
                                             <div class="delete-account-cell">Cannot have the RequireAuth flag set with existing trust lines.</div>
                                        </div>
                                        <div class="delete-account-row">
                                             <div class="delete-account-cell">Transaction Fee</div>
                                             <div class="delete-account-cell">Higher than normal</div>
                                        </div>
                                   </div>
                              </details>
                         </fieldset>
                    </details>
               </div>

               <div class="right-column">
                    <table id="meta">
                         <th></th>
                         <!-- Start Memo Section -->
                         <tr style="vertical-align: top">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="Add memo to transaction.">
                                        <label>Memo</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMemoEnabled" [(ngModel)]="isMemoEnabled" name="isMemoEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMemoEnabled"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isMemoEnabled">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="">
                                        <label for="memoField"></label>
                                   </span>
                              </td>
                              <td>
                                   <textarea class="memoField" style="width: 280px" id="memoField" placeholder="Add optional memo to transaction." [(ngModel)]="memoField" name="memoField"></textarea>
                                   <br />
                              </td>
                         </tr>
                         <!-- End Memo Section -->
                         <!-- Start Multi Sign Section -->
                         <tr style="vertical-align: top">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="Check this to update add Multi-Sign Address">
                                        <label>Use Multi-Sign Address</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMultiSignAddressData" [(ngModel)]="isMultiSign" (ngModelChange)="toggleMultiSign()" name="isMultiSignAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMultiSignAddressData"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isMultiSign">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="Comma-separated list of signer addresses (must be in the account's SignerList)">
                                        <label for="multiSignAddress">Signer Addresses</label>
                                   </span>
                              </td>
                              <td>
                                   <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignAddress" placeholder="Comma-separated list of signer addresses" [(ngModel)]="multiSignAddress" name="multiSignAddress"></textarea>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isMultiSign">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="Comma-separated list of signer seeds (must correspond to signer addresses)">
                                        <label for="multiSignSeeds">Signer Seeds</label>
                                   </span>
                              </td>
                              <td>
                                   <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignSeeds" placeholder="Comma-separated list of signer seeds" [(ngModel)]="multiSignSeeds" name="multiSignSeeds"></textarea>
                              </td>
                              <td>
                                   <span class="tooltip" tooltip-data="Minimum sum of signer weights required to approve a transaction.">Signer Quorum: </span>
                                   <input type="text" id="signerQuorumField" size="5" [(ngModel)]="signerQuorum" (ngModelChange)="validateQuorum()" name="signerQuorumField" />
                                   <br />
                              </td>
                         </tr>
                         <!-- End Multi Sign Section -->
                         <!-- Start Regular Key Section -->
                         <tr style="vertical-align: top">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="Check this to use Regular Key Address">
                                        <label>Use Regular Key</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isRegularKeyAddressData" [(ngModel)]="isRegularKeyAddress" (ngModelChange)="toggleMultiSign()" name="isRegularKeyAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isRegularKeyAddressData"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isRegularKeyAddress">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="Regular Key Address to sign the transaction">
                                        <label for="regularKeyAddress"></label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="regularKeyAddress" size="40" id="regularKeyAddress" placeholder="Enter Regular Key Address" [(ngModel)]="regularKeyAddress" name="regularKeyAddress" />
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isRegularKeyAddress">
                              <td style="text-align: right">
                                   <span class="tooltip" tooltip-data="Regular Key Seed to sign the transaction">
                                        <label for="regularKeySeed"></label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="regularKeySeed" size="40" id="regularKeySeed" placeholder="Enter Regular Key Seed" [(ngModel)]="regularKeySeed" name="regularKeySeed" />
                              </td>
                         </tr>
                         <!-- End Regular Key Section -->
                    </table>
               </div>
          </div>
     </fieldset>
</form>
