<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-wallet-multi-input (walletChange)="onWalletInputChange($any($event))" (transactionResult)="handleTransactionResult($event)"></app-wallet-multi-input>

     <fieldset>
          <legend style="color: white">Transaction Information</legend>
          <table style="float: left">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to update add Multi-Sign Address">
                              <label>Account Configuration Templates:</label>
                         </span>
                    </td>
                    <td>
                         <input type="radio" id="isHolderConfiguration" [(ngModel)]="configurationType" (ngModelChange)="onConfigurationChange()" name="configurationType" value="holder" />
                         <label for="isHolderConfiguration">Holder</label>
                         <input type="radio" id="isExchangerConfiguration" [(ngModel)]="configurationType" (ngModelChange)="onConfigurationChange()" name="configurationType" value="exchanger" />
                         <label for="isExchangerConfiguration">Exchanger</label>
                         <input type="radio" id="isIssuerConfiguration" [(ngModel)]="configurationType" (ngModelChange)="onConfigurationChange()" name="configurationType" value="issuer" />
                         <label for="isIssuerConfiguration">Issuer</label>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Name of the currently selected account.">
                              <label for="accountName1Field">Name</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountName1Field" size="40" [(ngModel)]="account1.name" name="accountName1Field" />
                         <input type="radio" id="account1" name="accounts" value="account1" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                         <label for="account1">Account 1</label>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Address of the currently selected account.">
                              <label for="accountAddress1Field">Address</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountAddress1Field" size="40" [(ngModel)]="account1.address" name="accountAddress1Field" />
                         <input type="radio" id="account2" name="accounts" value="account2" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                         <label for="account2">Account 2</label>
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Seed of the currently selected account.">
                              <label for="accountSeed1Field">Seed</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="accountSeed1Field" size="40" [(ngModel)]="account1.seed" name="accountSeed1Field" />
                         <input type="radio" id="issuer" name="accounts" value="issuer" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()" />
                         <label for="issuer">Issuer</label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                              <label for="xrpBalance1Field">Spendable XRP Balance</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="xrpBalance1Field" size="40" [(ngModel)]="account1.balance" readonly name="xrpBalance1Field" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                              <label for="ownerCountField">Owner Count</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="ownerCountField" size="40" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total number of XRP reserves. This includes the base reserve and any account objects that require a reserve.">
                              <label for="totalXrpReservesField">Total XRP Reserves</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalXrpReservesField" size="40" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Total Execution time in milli seconds.">
                              <label for="totalExecutionTime">Total Execution Time in ms</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="totalExecutionTime" size="40" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                    </td>
               </tr>
          </table>

          <table id="flags" style="float: left">
               <th></th>
               <tr>
                    <td style="text-align: right" align="middle">
                         <span class="tooltip" tooltip-data="Requires a destination tag for incoming payments">
                              <label for="asfRequireDest">Require Destination Tag</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfRequireDest" [(ngModel)]="flags.asfRequireDest" name="asfRequireDest" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Requires authorization">
                              <label for="asfRequireAuth">Require Auth</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfRequireAuth" [(ngModel)]="flags.asfRequireAuth" name="asfRequireAuth" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Discourages incoming XRP payments (not enforced)">
                              <label for="asfDisallowXRP">Disallow XRP Payments</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDisallowXRP" [(ngModel)]="flags.asfDisallowXRP" name="asfDisallowXRP" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Disables the master key pair">
                              <label for="asfDisableMaster">Disable Master Key</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDisableMaster" [(ngModel)]="flags.asfDisableMaster" name="asfDisableMaster" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Prevents freezing trust lines">
                              <label for="asfNoFreeze">Prevent Freezing Trust Lines</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfNoFreeze" [(ngModel)]="flags.asfNoFreeze" (ngModelChange)="onNoFreezeChange()" name="asfNoFreeze" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Freezes all trust lines">
                              <label for="asfGlobalFreeze">Freeze All Trust Lines</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfGlobalFreeze" [(ngModel)]="flags.asfGlobalFreeze" name="asfGlobalFreeze" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Enables rippling by default on trust lines">
                              <label for="asfDefaultRipple">Enable Rippling</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDefaultRipple" [(ngModel)]="flags.asfDefaultRipple" name="asfDefaultRipple" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
          </table>

          <table id="flags" style="float: left">
               <th></th>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Requires preauthorization for incoming deposits">
                              <label for="asfDepositAuth">Require Deposit Auth</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDepositAuth" [(ngModel)]="flags.asfDepositAuth" name="asfDepositAuth" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Allows another account to mint NFTs">
                              <label for="asfAllowTrustLineClawback">Allow Trust Line Clawback</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfAllowTrustLineClawback" [(ngModel)]="flags.asfAllowTrustLineClawback" (ngModelChange)="onClawbackChange()" name="asfAllowTrustLineClawback" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Blocks incoming NFT offers">
                              <label for="asfDisallowIncomingNFTokenOffer">Block NFT Offers</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDisallowIncomingNFTokenOffer" [(ngModel)]="flags.asfDisallowIncomingNFTokenOffer" name="asfDisallowIncomingNFTokenOffer" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Blocks incoming checks">
                              <label for="asfDisallowIncomingCheck">Block Checks</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDisallowIncomingCheck" [(ngModel)]="flags.asfDisallowIncomingCheck" name="asfDisallowIncomingCheck" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Blocks incoming payment channels">
                              <label for="asfDisallowIncomingPayChan">Block Payment Channels</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDisallowIncomingPayChan" [(ngModel)]="flags.asfDisallowIncomingPayChan" name="asfDisallowIncomingPayChan" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Blocks incoming trust lines">
                              <label for="asfDisallowIncomingTrustline">Block Trust Lines</label>
                         </span>
                    </td>
                    <td>
                         <label class="switch">
                              <input type="checkbox" id="asfDisallowIncomingTrustline" [(ngModel)]="flags.asfDisallowIncomingTrustline" name="asfDisallowIncomingTrustline" />
                              <span class="slider round"></span>
                         </label>
                    </td>
               </tr>
          </table>

          <table id="meta" style="float: left; padding-left: 25px">
               <th></th>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Optional Memo to be sent with the payment.">
                              <label for="memoField">Memo</label>
                         </span>
                    </td>
                    <td>
                         <textarea style="width: 280px; height: 95px" class="memoField" id="memoField" placeholder="Optional memo" [(ngModel)]="memoField" name="memoField"></textarea>
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to enter a deposit auth address">
                              <label>Deposit Auth Address</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <label class="switch">
                              <input type="checkbox" id="isdepositAuthAddress" [(ngModel)]="isdepositAuthAddress" name="isdepositAuthAddress" />
                              <span class="slider round"></span>
                         </label>
                         <label for="isdepositAuthAddress"></label>
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isdepositAuthAddress">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Enter ticket sequence to use for currently selected account">
                              <label for="depositAuthAddress"></label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="depositAuthAddress" size="40" id="depositAuthAddress" placeholder="Enter Deposit Auth Address" [(ngModel)]="depositAuthAddress" name="depositAuthAddress" />
                         <br />
                    </td>
               </tr>
               <tr>
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Enable to allow another account to mint non-fungible tokens (NFTokens) on this account's behalf.">
                              <label for="asfAuthorizedNFTokenMinter">Auth NFT Minter</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <label class="switch">
                              <input type="checkbox" id="asfAuthorizedNFTokenMinter" [(ngModel)]="flags.asfAuthorizedNFTokenMinter" (ngModelChange)="onAuthorizedNFTokenMinter()" name="asfAuthorizedNFTokenMinter" />
                              <span class="slider round"></span>
                         </label>
                         <label for="asfAuthorizedNFTokenMinter"></label>
                    </td>
               </tr>
               <tr *ngIf="flags.asfAuthorizedNFTokenMinter">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Enter the address of the account authorized to mint NFTs">
                              <label for="nfTokenMinterAddress">NFT Minter Address</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="nfTokenMinterAddress" size="40" [(ngModel)]="nfTokenMinterAddress" name="nfTokenMinterAddress" placeholder="Enter authorized minter address" />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to use a ticket sequence">
                              <label>Use Ticket Sequence</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <label class="switch">
                              <input type="checkbox" id="isTicketEnabled" [(ngModel)]="isTicket" (ngModelChange)="toggleTicketSequence()" name="isTicketEnabled" />
                              <span class="slider round"></span>
                         </label>
                         <label for="isTicketEnabled"></label>
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isTicket">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Enter ticket sequence to use for currently selected account">
                              <label for="ticketSequence"></label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="ticketSequence" size="40" id="ticketSequence" placeholder="Enter Ticket Sequence" [(ngModel)]="ticketSequence" name="ticketSequence" />
                         <br />
                    </td>
               </tr>
               <tr class="metaData" style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to update the account meta data">
                              <label>Update Meta Data</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <label class="switch">
                              <input type="checkbox" id="isUpdateMetaData" [(ngModel)]="isUpdateMetaData" (ngModelChange)="toggleMetaData()" name="isUpdateMetaData" />
                              <span class="slider round"></span>
                         </label>
                         <label for="isUpdateMetaData"></label>
                    </td>
               </tr>
               <tr class="metaData" style="vertical-align: top" *ngIf="isUpdateMetaData">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Only applies to AMM/DEX issuers. Controls how precisely prices are rounded in the DEX.">
                              <label for="tickSizeField">Tick Size</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="tickSizeField" size="40" placeholder="Value must be between 3 and 15" [(ngModel)]="tickSize" name="tickSizeField" />
                         <br />
                    </td>
               </tr>
               <tr class="metaData" style="vertical-align: top" *ngIf="isUpdateMetaData">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Defines how much extra to charge when people hold your issued tokens (only applies to issuers). It's a ratio multiplied by 1,000,000,000">
                              <label for="transferRateField">Transfer Rate</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="transferRateField" size="40" placeholder="This will be a percentage" [(ngModel)]="transferRate" name="transferRateField" />
                         <br />
                    </td>
               </tr>
               <tr class="metaData" style="vertical-align: top" *ngIf="isUpdateMetaData">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to save the message key in the account Information">
                              <label>Save Message Key</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <label class="switch">
                              <input type="checkbox" id="isMessageKey" [(ngModel)]="isMessageKey" name="isMessageKey" />
                              <span class="slider round"></span>
                         </label>
                         <label for="isMessageKey"></label>
                    </td>
               </tr>
               <tr class="metaData" style="vertical-align: top" *ngIf="isUpdateMetaData">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Web identity.">
                              <label for="domainField">Domain</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="domainField" size="40" [(ngModel)]="domain" name="domainField" />
                         <br />
                    </td>
               </tr>
               <tr style="vertical-align: top">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Check this to update add Multi-Sign Address">
                              <label>Enable Multi-Sign Address</label>
                         </span>
                    </td>
                    <td style="display: flex; gap: 10px; flex-wrap: wrap">
                         <label class="switch">
                              <input type="checkbox" id="isMultiSignAddressData" [(ngModel)]="isMultiSign" (ngModelChange)="toggleMultiSign()" name="isMultiSignAddressData" />
                              <span class="slider round"></span>
                         </label>
                         <label for="isMultiSignAddressData"></label>
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isMultiSign">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Add address for multi sign. This is a comma separated list">
                              <label for="signer1AccountField">Signer 1 Account</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="signer1AccountField" size="40" [(ngModel)]="signer1Account" name="signer1AccountField" />
                         <span class="tooltip" tooltip-data="Relative value of the signer's vote on approvals.">Weight</span>
                         &nbsp;&nbsp;
                         <input type="text" id="signer1WeightField" size="5" [(ngModel)]="signer1Weight" name="signer1WeightField" />
                         <br />
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isMultiSign">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Add address for multi sign. This is a comma separated list">
                              <label for="signer2AccountField">Signer 2 Account</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="signer2AccountField" size="40" [(ngModel)]="signer2Account" name="signer2AccountField" />
                         <span class="tooltip" tooltip-data="Relative value of the signer's vote on approvals.">Weight</span>
                         &nbsp;&nbsp;
                         <input type="text" id="signer2WeightField" size="5" [(ngModel)]="signer2Weight" name="signer2WeightField" />
                         <br />
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top" *ngIf="isMultiSign">
                    <td style="text-align: right">
                         <span class="tooltip" tooltip-data="Add address for multi sign. This is a comma separated list">
                              <label for="signer3AccountField">Signer 3 Account</label>
                         </span>
                    </td>
                    <td>
                         <input type="text" id="signer3AccountField" size="40" [(ngModel)]="signer3Account" name="signer3AccountField" />
                         <span class="tooltip" tooltip-data="Relative value of the signer's vote on approvals.">Weight</span>
                         &nbsp;&nbsp;
                         <input type="text" id="signer3WeightField" size="5" [(ngModel)]="signer3Weight" name="signer3WeightField" />
                         <br />
                    </td>
               </tr>
               <tr class="multisignAddressClass" style="vertical-align: top; padding-left: 240px" *ngIf="isMultiSign">
                    <td></td>
                    <td style="padding-left: 240px">
                         <span class="tooltip" tooltip-data="Minimum sum of signer weights required to approve a transaction.">Signer Quorum</span>
                         &nbsp;&nbsp;
                         <input type="text" id="signerQuorumField" size="5" [(ngModel)]="signerQuorum" (ngModelChange)="validateQuorum()" name="signerQuorumField" />
                         <br />
                    </td>
               </tr>
          </table>

          <div class="spinner-container">
               <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
               <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || 'Loading...' }}</div>
          </div>

          <table style="text-align: left; width: 100%">
               <th></th>
               <tr>
                    <td colspan="2">
                         <button type="button" (click)="getAccountDetails()">Get Account Info</button>
                         <button type="button" (click)="clearFields()">Clear Fields</button>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <button type="button" (click)="updateFlags()">Update Flags</button>
                         <button type="button" (click)="updateMetaData()">Update Meta Data</button>
                         <button type="button" (click)="setDepositAuthAccounts('Y')">Set Deposit Auth</button>
                         <button type="button" (click)="setDepositAuthAccounts('N')">Unauthorize Deposit Auth</button>
                         <button type="button" (click)="setMultiSign('Y')">Set Multi-Sign</button>
                         <button type="button" (click)="setMultiSign('N')">Remove Multi-Sign</button>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">
                         <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                    </td>
               </tr>
          </table>
     </fieldset>

     <details class="account-flag-info">
          <summary>Account Flag Info</summary>
          <fieldset class="flag-fieldset">
               <div class="flag-table">
                    <!-- Header Row -->
                    <div class="flag-row flag-header">
                         <div class="flag-cell">Flag</div>
                         <div class="flag-cell">Purpose</div>
                         <div class="flag-cell">Set Once?</div>
                         <div class="flag-cell">Mutually Exclusive</div>
                         <div class="flag-cell">Notes</div>
                    </div>
                    <!-- Data Rows -->
                    <div class="flag-row">
                         <div class="flag-cell">asfRequireDest</div>
                         <div class="flag-cell">Require a destination tag to send transactions to this account.</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Protects against ambiguous payments</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfRequireAuth</div>
                         <div class="flag-cell">Require authorization for users to hold balances issued by this address.</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Used for compliance (e.g., KYC/AML). Can only be enabled if the address has no trust lines connected to it.</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDisallowXRP</div>
                         <div class="flag-cell">XRP should not be sent to this account.</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Not enforced by rippled; client-respected</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDisableMaster</div>
                         <div class="flag-cell">Disallow use of the master key pair.</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Can only be enabled if the account has configured another way to sign transactions, such as a Regular Key or a Signer List.</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfNoFreeze</div>
                         <div class="flag-cell">Permanently give up the ability to freeze individual trust lines or disable Global Freeze.</div>
                         <div class="flag-cell">Yes</div>
                         <div class="flag-cell">asfGlobalFreeze</div>
                         <div class="flag-cell">Irreversible once set</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfGlobalFreeze</div>
                         <div class="flag-cell">Freezes all issued tokens</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">asfNoFreeze</div>
                         <div class="flag-cell">Can be toggled unless asfNoFreeze is set</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDefaultRipple</div>
                         <div class="flag-cell">Enables rippling on trust lines</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Recommended for issuers</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDepositAuth</div>
                         <div class="flag-cell">Enable Deposit Authorization on this account.</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Controls incoming funds</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfAuthorizedNFTokenMinter</div>
                         <div class="flag-cell">Enable to allow another account to mint non-fungible tokens (NFTokens) on this account's behalf.</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Specify the authorized account in the NFTokenMinter field of the AccountRoot object. To remove an authorized minter, enable this flag and omit the NFTokenMinter field.</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDisallowIncomingNFTokenOffer</div>
                         <div class="flag-cell">Blocks incoming NFT offers</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Controls NFT interactions</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDisallowIncomingCheck</div>
                         <div class="flag-cell">Blocks incoming checks</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Prevents check transactions</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDisallowIncomingPayChan</div>
                         <div class="flag-cell">Blocks incoming payment channels</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Restricts payment channels</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfDisallowIncomingTrustline</div>
                         <div class="flag-cell">Blocks incoming trust lines</div>
                         <div class="flag-cell">No</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Useful for token issuers</div>
                    </div>
                    <div class="flag-row">
                         <div class="flag-cell">asfAllowTrustLineClawback</div>
                         <div class="flag-cell">Enables IOU clawback</div>
                         <div class="flag-cell">Yes</div>
                         <div class="flag-cell">None</div>
                         <div class="flag-cell">Irreversible; for regulatory use</div>
                    </div>
               </div>
          </fieldset>
     </details>
</form>
